*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.header-image-container {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    background-color: #000; padding: 20px; border-radius: 8px 8px 0 0; margin: -40px -40px 20px -40px; width: calc(100% + 80px);
}

.header-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

body{
    background: linear-gradient(135deg,#0b3d91,#b71c1c);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.container{
    background:white;
    max-width:700px;
    width:100%;
    padding:40px;
    border-radius:10px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h1, h3{
    text-align:center;
    color:#0b3d91;
    margin-bottom:30px;
}

form{
    display:flex;
    flex-direction:column;
}

label{
    font-weight:bold;
    margin-top:15px;
    margin-bottom:5px;
}

input,select{
    padding:12px;
    border-radius:6px;
    border:1px solid #ccc;
    font-size:16px;
    width:100%;
}

input:focus,select:focus{
    outline:none;
    border-color:#0b3d91;
}

.alert{
    margin-top:25px;
    padding:15px;
    background:#fff3f3;
    border-left:5px solid #b71c1c;
    font-size:14px;
}

.payment{
    margin-top:20px;
}

.payment a{
    display:inline-block;
    margin-top:10px;
    padding:12px 18px;
    border-radius:6px;
    text-decoration:none;
    font-weight:bold;
}

.pix{
    background:#0b3d91;
    color:white;
}

.card{
    background:#b71c1c;
    color:white;
}

.checkbox-lgpd {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.checkbox-lgpd input {
    transform: scale(1.5);
    width: 15%;
    margin-top: 3%;
}

.checkbox-lgpd span {
    width: 85%;
}

.upload{
    margin-top:20px;
}

button{
    margin-top:25px;
    padding:15px;
    border:none;
    border-radius:6px;
    font-size:18px;
    font-weight:bold;
    background:#b71c1c;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#8e0000;
}

/* RESPONSIVENESS */

@media (max-width:600px){

    .container{
        padding:25px;
    }

    .header-image-container {
        margin-bottom: 15px;
        margin: -25px -25px 15px -25px; width: calc(100% + 50px);
    }

    h1{
        font-size:22px;
    }

    input,select{
        font-size:15px;
    }

}