<!DOCTYPE html>
<html lang="pt-br">
<head>

<meta charset="UTF-8">
<title>Inscrição Recebida</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/enrollment_received.css') }}">

</head>

<body>

<div class="container">

<h1>✅ Inscrição Recebida</h1>

<p>
Recebemos sua inscrição 📋 para o <strong>Retiro do Coração Abrasado</strong> ❤️‍🔥
</p>

<p>
Seu pagamento será analisado por um dos organizadores. Assim que for confirmado,
você receberá um e-mail 📧 informando a confirmação da sua inscrição. Por isso,
fique de olho nos e-mails 😉.
</p>

<p>
Você também poderá receber outras comunicações por e-mail com
informações importantes sobre o evento. 👀
</p>

<p>
😁 Estamos preparando tudo com muito carinho para que esses dias sejam
um tempo especial de encontro com Deus, comunhão e renovação espiritual.
</p>

<div class="footer">

<p>⛪️<strong> Igreja Metodista Wesleyana </strong>⛪️</p>
<p>Distrito de São João de Meriti | 6ª Região</p>

</div>

</div>

</body>
</html>