<!DOCTYPE html>
<html lang="pt-br">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Editar Inscrição</title>

<link rel="stylesheet" href="/static/css/style.css">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>

    <div class="container">

        <h1>Editar Inscrição</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for msg in messages %}
                    <li style="color: red;">{{ msg }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form action="{{ url_for('routes.update_enrollments', id=enrollment.id) }}" method="POST" enctype="multipart/form-data">

            <label>Nome completo</label>
            <input type="text" name="nomeForm" minlength="5" value="{{enrollment.name}}">

            <label>CPF</label>
            <input type="text" name="cpfForm" maxlength="11" minlength="11" placeholder="Somente números. Ex.: 12345678910" value="{{enrollment.cpf}}" required>

            <label>Igreja</label>
            <select name="churchForm" value="{{enrollment.church}}">

                <option 
                {% if enrollment.church == "Congregação em Parque Alian" %}selected{% endif %}>
                Congregação em Parque Alian
                </option>
                <option
                {% if enrollment.church == "Frente Miss Areia Branca" %}selected{% endif %}>
                Frente Missionária Areia Branca
                </option>
                <option
                {% if enrollment.church == "Frente Miss Jardim José Bonifácio" %}selected{% endif %}>
                Frente Missionária Jardim José Bonifácio</option>
                <option
                {% if enrollment.church == "Igreja de Belford Roxo" %}selected{% endif %}>
                Igreja de Belford Roxo
                </option>
                <option
                {% if enrollment.church == "Igreja de Coelho da Rocha" %}selected{% endif %}>
                Igreja de Coelho da Rocha
                </option>
                <option
                {% if enrollment.church == "Igreja de Éden" %}selected{% endif %}>
                Igreja de Éden
                </option>
                <option
                {% if enrollment.church == "Igreja de Jardim América" %}selected{% endif %}>
                Igreja de Jardim América
                </option>
                <option
                {% if enrollment.church == "Igreja de Pq São José" %}selected{% endif %}>
                Igreja de Pq São José
                </option>
                <option
                {% if enrollment.church == "Igreja de Praça da Bandeira" %}selected{% endif %}>
                Igreja de Praça da Bandeira
                </option>
                <option
                {% if enrollment.church == "Igreja de São João de Meriti" %}selected{% endif %}>
                Igreja de São João de Meriti
                </option>
                <option
                {% if enrollment.church == "Igreja de Vila Humaitá" %}selected{% endif %}>
                Igreja de Vila Humaitá
                </option>
                <option
                {% if enrollment.church == "Igreja de Vila Jurandir" %}selected{% endif %}>
                Igreja de Vila Jurandir
                </option>
                <option
                {% if enrollment.church == "Igreja de Vila Tiradentes" %}selected{% endif %}>
                Igreja de Vila Tiradentes
                </option>
                <option
                {% if enrollment.church == "Igreja de Vilar do Teles" %}selected{% endif %}>
                Igreja de Vilar do Teles
                </option>

            </select>

            <label>Celular</label>
            <input type="number" name="celForm" pattern="[0-9]{10,11}" placeholder="Somente números. Ex.: 21999999999" minlength="9" maxlength="11" value="{{enrollment.celphone}}" required>

            <label>Contato de emergência</label>
            <input type="number" name="emergencyContactForm" pattern="[0-9]{10,11}" placeholder="Somente números. Ex.: 21999999999" minlength="9" maxlength="11" value="{{enrollment.emergency_contact}}" required>

            <label>Email</label>
            <input type="email" name="emailForm" placeholder="exemplo@gmail.com" value="{{enrollment.email}}" required>

            <label>Tipo de Inscrição</label>
            <select name="typeEnrollForm" value="{{enrollment.type_enrollment}}">
                <option value="Voluntário"
                    {% if enrollment.type_enrollment == "Voluntário" %}selected{% endif %}>
                    Voluntário
                </option>
                <option value="Participante"
                    {% if enrollment.type_enrollment == "Participante" %}selected{% endif %}>
                    Participante
                </option>
            </select>

            <label>Toma alguma medicação regularmente?</label>
            <select name="remedyForm" value="{{enrollment.remedy}}">
                <option value="nao"
                    {% if enrollment.remedy == "nao" %}selected{% endif %}>
                    Não
                </option>
                <option value="sim"
                    {% if enrollment.remedy == "sim" %}selected{% endif %}>
                    Sim
                </option>
            </select>

            <label>Horário do remédio</label>
            <input type="text" name="hourForm" value="{{enrollment.hour_remedy}}">

            <label>Status Pagamento</label>
            <select name="paymentForm">
                <option value="PENDENTE"
                    {% if enrollment.payment_status == "PENDENTE" %}selected{% endif %}>
                    PENDENTE
                </option>

                <option value="CONFIRMADO"
                    {% if enrollment.payment_status == "CONFIRMADO" %}selected{% endif %}>
                    CONFIRMADO
                </option>
            </select>

            <button type="submit">
            Salvar Edição
            </button>

        </form>

    </div>

    <script src="/static/js/form.js"></script>

</body>
</html>