<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inscrição</title>
</head>
<body>
    <h1>PÁGINA DE INSCRIÇÃO</h1>
    <h1>RETIRO DO CORAÇÃO ABRASADO 2026</h1>

    <form action="/" method="POST">
    Nome completo: <input type="text" name="nomeForm"><br><br>

    Igreja: <select name="churchForm">
        <option>Igreja A</option>
        <option>Igreja B</option>
    </select><br><br>

    Celular: <input type="text" name="celForm"><br><br>

    Email: <input type="email" name="emailForm"><br><br>

    Toma remédio? <select name="remedyForm">
        <option value="nao">Não</option>
        <option value="sim">Sim</option>
    </select><br><br>

    Horário do remédio: <input type="text" name="hourForm"><br><br>

    <button type="submit" value="inscricao">Realizar Inscrição</button>

    </form>
</body>
</html>