<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inscrição</title>
</head>
<body>
    <h1>PÁGINA DE INSCRIÇÃO</h1>
    <h1>RETIRO DO CORAÇÃO ABRASADO 2026</h1>

    <form action="/inscricao" method="POST">

    Nome completo<br>
    <input type="text" name="nomeForm"><br><br>

    Igreja<br>
    <select name="igrejaForm">
    <option>Igreja A</option>
    <option>Igreja B</option>
    </select><br><br>

    Celular<br>
    <input type="text" name="celularForm"><br><br>

    Email<br>
    <input type="email" name="emailForm"><br><br>

    Toma remédio?<br>
    <select name="toma_remedioForm">
    <option value="nao">Não</option>
    <option value="sim">Sim</option>
    </select><br><br>

    Horário do remédio<br>
    <input type="text" name="horarioForm"><br><br>

    <button type="submit">Realizar Inscrição</button>

    </form>
</body>
</html>